<!DOCTYPE html>

<html>
    <head>
        <title>Nobel Prize Web App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h2>Country With Most Nobel Prize Laureates:</h2>
        <h4>{{ most_country }}</h4>
        <h2>Highest Prize Amount:</h2>
        <h4>{{ most_money }}</h4>
        <h2>Most Popular Category:</h2>
        <h4>{{ most_category }}</h4>
        <p>Yes this site looks ugly, I dont care. It's just practice for ETL
        scripts and EC2 instances. Deal with it.</p>
    </body>
</html>